//Add layout rules here
@import 'nib';

.wrapper
  margin-top: 2%
  margin-left: 8%
  margin-right: 8%
  margin-bottom: 2%
  padding-left: 2%
  padding-right: 2%
  clearfix()

//Mixins
indent(n)
  margin-left: n

//Classes
.text-center
  text-align: center

.margin-center
  margin-left: auto
  margin-right: auto

.relative
  display relative
  
.column-1-2
  display: block
  float: left
  position: relative
  width: 48%
  padding-right: 1%
  padding-left: 1%

.column-2-2
  display: block
  float: left
  position: relative
  width: 48%
  padding-right: 1%
  padding-left: 1%

.column-1-1
  display: block
  float: left
  position: relative
  width: 98%
  padding-left: 1%
  padding-right: 1%