.rounded 
  border-radius 15px

.thick-border
  border 5px solid black
  
.padded
  padding: 5px
  
.purple
  color: purple
  
.background-purple
  background-color: purple

.pink
  color: pink

.background-pink
  background-color: pink

.orange
  color: orange
  
.background-orange
  background-color: orange