
.invert
  color : inherit
  filter: invert(100%)


/* Borders */
.rounded 
  border-radius 15px

.thick-border
  border 5px solid 
  border-color inherit

.border
  border 2px solid black
  
.shadow
  box-shadow: 3px 3px 2px #888888

.dotted-border
  border 5px dotted
  border-color inherit

.padded
  padding: 5px
  
/* Colors */
  
.purple
  color: purple

.maroon
  color: #553739

.pink
  color: pink
  
.orange
  color: #955E42

.grey
  color: #485466
  
.white
  color: white
  
.blue
  color: #22264b


.green
  color: #5a5c51

.background-thinblue
  background-color: hsla(180, 50%, 50%, 0.4)

.background-yellow
  background-color: #e6cf8b
  
.background-blue
  background-color: #22264b

.background-green
  background-color: #5a5c51

.background-grey
  background-color: #485466

.background-mountains
  background: url('/img/mountains.jpg')
  background-size: cover

.background-orange
  background-color: orange
  
.background-white
  background-color: white
  
.background-invert
  background-color : inherit
  filter: invert(100%)
  
/* Font Styles */
.bold
  font-weight: bold
  
/* Fonts */
  
.arial-font
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
  
.futura-font
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif

.helvetica-font
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  
.georgia-font
  font-family: Georgia, Times, 'Times New Roman', serif
