.invert
  color : inherit
  filter: invert(100%)

.rounded 
  border-radius 15px

.thick-border
  border 5px solid 
  border-color inherit
  
.dotted-border
  border 5px dotted
  border-color inherit

.padded
  padding: 5px
  
.purple
  color: purple
  
.background-purple
  background-color: purple

.pink
  color: pink

.background-pink
  background-color: pink

.orange
  color: orange

.background-orange
  background-color: orange
  
.times-font
  font-family: "Times New Roman", Georgia, Serif
  
.comic-font
  font-family: "Comic Sans MS", cursive, sans-serif

.courier-font
  font-family: "Courier New", Courier, monospace